body, header, nav, footer {background-color: white;color: #8B0000;}
p {color: black;
   text-indent: 30px;
   margin: 0px;
}

body {
font-family: "Times New Roman", "Georgia", Arial, sans-serif, cursive;
width: 68%;
margin: 50px auto;
font-size: 1em;
text-align: left;}

.rev {}
.punc {}
.cap {}
.comp_err {}
.auth_err {}
.pub {}
.style {}

.MS { display: inline;}
.A1 { display: none;}
.P1 { display: none;}
.P2 { display:none;}
.B1 { display: none;}
.F1 { display: none;}
.K { display: none;}

ins {color:green;}
del {
color:red;
text-decoration:line-through;
}

header {
	font-family: Century, Times, Garamond;
	text-align: left;
}

blockquote {float:left;}

ul {text-align: left; padding-top: 2px;}


header, nav, footer, img {text-align: center;}

a:link {color: #8B0000}
a:visited {color: #8E388E}
a:hover {color: #008B45}

p {float:left;width: 65%;background-size: 50%}