html {
	background: url(SpanishPlate1.jpg) center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: 100%;
}

#books {
	max-width: 35%;
	float: right;
}

h1 {
	font: Times;
	text-align: center;
}
h2 {
	font: Times;
	text-align: left;
}

body {
	background-color: #FAEBD7;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-family: "Times New Roman", "Georgia", Arial, sans-serif, cursive;
	width: 68%;
	margin: 50px auto;
	text-align: left;}




nav a {
	text-align: block;
	font-family: Century, Times, Garamond; 
	padding: 6px;}

a:link {color: blue}
a:visited {color: purple}
a:hover {color: red}

header, nav, footer {text-align: center;}

footer {
	clear: both;
	padding-top: 10px}

h1 {font-family: Century, Times, Garamond;
text-align: left;}
h2 {
	font-family: Century, Times, Garamond; 
	padding-bottom: 10px;
	text-align: center;
	margin-left: 12%;
	margin-right: 12%;}

.navbar-collapse {
	float: right;
	width: 30%;
}

.navbar-collapse + .main {
	margin-right: 35%;
}

.navbar.navbar-default {
	margin: auto;
	padding: 10px;
	height: 125px;
	width: 1000px;
}

a.navbar-brand {
	color: blue;
	font-size: 28px;
}

a.active {
}

.rdg {
	cursor: pointer;
}

.rev {color:purple;}
.punc {color:blue;}
.cap {color:aqua;}
.comp_err {color:orange}
.auth_err {color:olive}
.pub {color:fuchsia}
.style {}


ins {color:green;}
del {
  color:red;
  text-decoration:line-through;
}

header {
  text-align: left;
}
h1 {font-size: 20px;
	font-weight: bold;
	text-align: center;
}
blockquote {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 20px;
	font-style: italic;

}

ul {text-align: left; padding-top: 2px;}



p {
	margin:0;
	text-indent: 20px;
	font-size: 16px;
}

.sidenote {
	text-align: left;
	float: right;
	max-width: 16%;
	font-family: serif;
	font-size: 16px;
}

header, nav, footer, img {text-align: center;}

a:link {color: #8B0000}
a:visited {color: #8E388E}
a:hover {color: #008B45}

